  <div class="banner " style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1616530940355-351fabd9524b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);">
    <div class="container">
      <h1 class="banner-dimension text-center text-white display-1 text-shadow"> Add a movie to your <%= @list.name %></h1>
    </div>
  </div>
 <div class="container">
    <%= render'form', bookmark: @bookmark %>
  </div>

<%= link_to '<= back to list', list_path(@list)%>
